<div class="login-container">
  <div class="login-card">
    <form>
      <h2>Iniciar Sesión</h2>

      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com">

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required placeholder="********">

      <div class="forgot-pass">
        <a routerLink="/recuperar-password">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit">Iniciar Sesión</button>

      <br><br>

      <span class="register-text">¿No tienes una cuenta? </span>
      <a routerLink="/register" class="register-link">Regístrate aquí</a>
    </form>
  </div>
</div>