<div class="leyendas-container animate__animated animate__fadeIn">
  <header class="leyendas-header">
    <button class="btn-regresar" routerLink="/home"> Volver </button>
    <h1 class="titulo-centrado">Leyendas Ancestrales</h1>
    <div class="spacer"></div>
  </header>

  <main class="contenido">
    <article class="leyenda-card animate__animated animate__fadeInLeft">
      <div class="leyenda-img img-color-1"></div>
      <div class="leyenda-info">
        <h2>La Leyenda del Tajín</h2>
        <p></p>
      </div>
    </article>

    <article class="leyenda-card animate__animated animate__fadeInRight">
      <div class="leyenda-img img-color-2"></div>
      <div class="leyenda-info">
        <h2>La Vainilla Sagrada</h2>
        <p></p>
      </div>
    </article>

    <article class="leyenda-card animate__animated animate__fadeInLeft">
      <div class="leyenda-img img-color-3"></div>
      <div class="leyenda-info">
        <h2>El Señor de los Truenos</h2>
        <p></p>
      </div>
    </article>
  </main>
</div>