<div class="home-container">

  <section class="banner-principal animate__animated animate__fadeIn" style="background-image: url('/assets/img/Fondo_login.jpg');">
    <div class="overlay"></div> 
    <div class="hero-content">
      <h1 class="animate__animated animate__fadeInDown">Diccionario Totonaco</h1>
      <p class="subtitle animate__animated animate__fadeIn animate__delay-1s">
        Descubre la lengua de los totonacas.
      </p>

      <div class="search-box animate__animated animate__fadeInUp animate__delay-1s">
        <input type="text" placeholder="Escribe una palabra (ej. Sol, Agua)...">
        <button class="search-btn">
          <img src="https://img.icons8.com/bubbles/100/google-web-search.png" alt="Buscar" class="search-icon">
        </button>
      </div>
    </div>
  </section>

  <section class="culture-section">
    <h2 class="section-title animate__animated animate__fadeIn">Explora el Tajín</h2>
    
    <div class="cards-grid">
      
      <article class="card animate__animated animate__fadeInUp">
        <div class="card-image" style="background-image: url('/assets/img/museo.jpg');"></div>
        <div class="card-text">
          <h3>Museo de Sitio</h3>
          <p>Adéntrate en la historia de la ciudad del trueno.</p>
          <button class="card-btn">Leer historia</button>
        </div>
      </article>

      <article class="card animate__animated animate__fadeInUp animate__delay-1s">
        <div class="card-image" style="background-image: url('/assets/img/Voladores.jpg');"></div>
        <div class="card-text">
          <h3>Los Voladores</h3>
          <p>El ritual que conecta a los hombres con los dioses y el cosmos.</p>
          <button class="card-btn">Ver ritual</button>
        </div>
      </article>

      <article class="card animate__animated animate__fadeInUp animate__delay-2s">
        <div class="card-image" style="background-image: url('/assets/img/Leyenda.jpeg');"></div>
        <div class="card-text">
          <h3>Leyendas</h3>
          <p>Relatos ancestrales que han sobrevivido al paso de los siglos.</p>
          <button class="card-btn" routerLink="/leyendas">Descubrir leyendas</button>
        </div>
      </article>

    </div>
  </section>

</div>