<div class="login-container">
  <img src="/assets/img/Fondo_login.jpg" alt="Fondo" class="bg-img">
  
  <div class="login-card animate__animated animate__fadeInDown">
    <form>
      <h2 class="animate__animated animate__fadeIn animate__delay-1s">Iniciar Sesión</h2>
      <label for="correo" class="animate__animated animate__fadeInUp animate__delay-1s">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com" class="animate__animated animate__fadeInUp animate__delay-1s">

      <label for="password" class="animate__animated animate__fadeInUp animate__delay-1s">Contraseña:</label>
      <input type="password" id="password" name="password" required placeholder="********" class="animate__animated animate__fadeInUp animate__delay-1s">

      <div class="forgot-pass animate__animated animate__fadeInUp animate__delay-1s">
        <a routerLink="/recuperar-password">¿Olvidaste tu contraseña?</a>
      </div>

      <button routerLink="/home" type="submit" class="animate__animated animate__fadeInUp animate__delay-1s">Iniciar Sesión</button>

      <br><br>

      <span class="register-text animate__animated animate__fadeIn animate__delay-1s">¿No tienes una cuenta? </span>
      <a routerLink="/register" class="register-link animate__animated animate__fadeIn animate__delay-1s">Regístrate aquí</a>
    </form>
  </div>
</div>