<div class="register-container">
  <div class="register-card">
    <form>
      <h2>Crear Cuenta</h2>

      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required placeholder="Ej. JoseTo26">

      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com">

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required placeholder="********">

      <label for="confirmPassword">Confirmar contraseña:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="********">

      <button type="submit">Registrarme</button>

      <div class="register-link-section">
        <br>
        <span class="login-text">¿Ya tienes una cuenta? </span>
        <a routerLink="/login" class="login-link">Inicia sesión aquí</a>
      </div>
    </form>
  </div>
</div>
