<div class="register-container">
  <div class="register-card animate__animated animate__fadeInDown">
    <form>
      <h2 class="animate__animated animate__fadeIn animate__delay-1s">Crear Cuenta</h2>

      <label for="username" class="animate__animated animate__fadeInUp animate__delay-1s">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required placeholder="Ej. JoseTo26" class="animate__animated animate__fadeInUp animate__delay-1s">

      <label for="correo" class="animate__animated animate__fadeInUp animate__delay-1s">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com" class="animate__animated animate__fadeInUp animate__delay-1s">

      <label for="password" class="animate__animated animate__fadeInUp animate__delay-1s">Contraseña:</label>
      <input type="password" id="password" name="password" required placeholder="********" class="animate__animated animate__fadeInUp animate__delay-1s">

      <label for="confirmPassword" class="animate__animated animate__fadeInUp animate__delay-1s">Confirmar contraseña:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="********" class="animate__animated animate__fadeInUp animate__delay-1s">

      <button type="submit" class="animate__animated animate__fadeInUp animate__delay-1s">Registrarme</button>

      <div class="register-link-section animate__animated animate__fadeIn animate__delay-1s">
        <br>
        <span class="login-text">¿Ya tienes una cuenta? </span>
        <a routerLink="/login" class="login-link">Inicia sesión aquí</a>
      </div>
    </form>
  </div>
</div>